* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #0D192C;
    --card-background: #15263F;
    --eth-color: #00FFF8;
    --white: #fff;
    --content-color: #8BACD9;
    --line-break: #2E405A;
    --soft-blue: #6c92b8;
    --cyan: #2fffd8;
    --cyan-trans: rgba(0, 255, 255, 0.3); 
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: "Outfit", sans-serif;
}

.card-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 596px;
    border-radius: 15px;
    background-color: var(--card-background);
    color: white;
}
.img-box {
    margin-bottom: 20px;
    position: relative;
    width:302px;
    height: 302px;
}
.img-box img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: block;
}

.overlay-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-img {
    width: 42px;
    height: 42px;
    position: absolute;
    transition: opacity 0.3 ease;
}

.overlay-box .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-box:hover .overlay-img {
    opacity: 1;
    background-color: var(--cyan-trans);
}

.card-header {
    margin-bottom: 20px;
}
.card-content {
    display: flex;
    flex-direction: column;
    width: 302px;
}

.card-description {
    font-size: 17px;
    margin-bottom: 20px;
    color: var(--content-color);
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.eth-box {
    display: flex;
    color: var(--eth-color);
}

.clock-box {
    display: flex;
    color: var(--content-color);
}

.page-break {
    border: 1px solid var(--line-break);
    width: 302px;
    margin-bottom: 20px;
}

.card-footer {
display: flex;
align-items: center;
}
.card-footer img {
    width: 33px;
}

span {
    color: var(--content-color);
}